<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="cConStr" connectionString="server=103.254.12.130;database=GCORE_001;uid=gcore;password=K8HqJaOGZR;"/>-->
    <!--<add name="bConStr"
         connectionString="server=112.213.94.177;database=GCORE_001;uid=gcAdmin;password=E876c1mGYf;" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="isDebug" value="false"/>
    <add key="AppBuilderPath" value="AppBuilder"/>
    <add key="servicestack:license"
  value="2904-e1JlZjoyOTA0LE5hbWU6UGh1b25nIFRyYW5nIENvbXBhbnksVHlwZTpJbmRpZSxIYXNoOlRYOUJPc082aUhLQmE2T1Y4NWltNjhuL29sU3Axc3JrNkpvV0c3SW1jd0ZYbndsOGhyYTlUWDZWVnN5YUd0N1d4a0l5T3FUTm10SGVGM2lLaG1WMzRKRlp5ZTJoakV3V0llaS9nQnJSVi9WUXJKVkkzQTQ3VGRlSHNERjM2OTNIM2xRdlpNVDFXT0RXdmZRdjNVaHpsNU9BRnR3cjNmM1VHbHd5dGVlK2Jibz0sRXhwaXJ5OjIwMTYtMDktMDd9"/>
  </appSettings>
</configuration>