/cKernel/obj
/cKernel/bin
/cKernel.Extend/obj
/cKernel.Extend/bin
/cKernel2PHP/obj
/cKernel2PHP/bin
/cService/obj
/cService/bin
/cModel/obj
/cModel/bin
/cService.Api/obj
/cService.Api/bin
/cService.Api.Demo/obj
/cService.Api.Demo/bin
/cService.Test/obj
/cService.Test/bin
/CTool/obj
/CTool/bin
/CTool/ObjectBuilder
/gCoreManager/obj
/gCoreManager/bin
/packages
