<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gcore-manager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gcore-manager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gcore-manager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gcore-manager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GCORE_001EntityModelContainer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GCORE_001EntityModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Service.GCORE_001EntityModel.csdl|res://*/Service.GCORE_001EntityModel.ssdl|res://*/Service.GCORE_001EntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Vidyano" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Vidyano_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Repository.VidyanoEntityModel.csdl|res://*/Repository.VidyanoEntityModel.ssdl|res://*/Repository.VidyanoEntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GCORE_001EntityModelContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Vidyano-Web.config Connection String" />
  </ItemGroup>
</Project>