<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <connectionStrings>
    <add name="Vidyano" connectionString="metadata=res://*/Repository.VidyanoEntityModel.csdl|res://*/Repository.VidyanoEntityModel.ssdl|res://*/Repository.VidyanoEntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR'" providerName="System.Data.EntityClient" />
    <add name="GCORE_001EntityModelContainer" connectionString="metadata=res://*/Service.GCORE_001EntityModel.csdl|res://*/Service.GCORE_001EntityModel.ssdl|res://*/Service.GCORE_001EntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=103.254.12.130;Initial Catalog=GCORE_001;User ID=gcore;Password=K8HqJaOGZR'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="Vidyano.TargetDbContextType" value="gCoreManager.Service.GCORE_001EntityModelContainer, gCoreManager" />
    <add key="Vidyano.ApplicationSalt" value="sFp43sL1gU" />
    <!--<add key="Vidyano.ForceHttps" value="True" />-->
    <!--<add key="Vidyano.DisableProfiler" value="True" />-->
  </appSettings>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Vidyano" type="Vidyano.Service.WebControllerModule, Vidyano.Service"/>
    </modules>
  </system.webServer>
</configuration>